.create-collection-modal

    .create-collection
        .create-collection__close-button
            <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
        h2 Создание коллекции
        .create-collection__block
            .create-collection__block__input-file
                input(
                    id="files"
                    type='file'
                    name="newsName"
                )
                label(for="files")#drop-area
                    p(class='simple-text') Добавьте обложку коллекции
                    p(class='drop-text') Отпустите чтобы загрузить
            .create-collection__block__inputs
                .personal-area__settings__area__profile__personal-information__input-simple.simple-input
                    p Фамилия
                    input(
                        type='text'
                        placeholder='Никита'
                    )
                .personal-area__settings__area__profile__personal-information__interests
                    p Интересы
                    input#interestsTa(
                        type='text'
                    )
                .personal-area__settings__area__profile__personal-information__text-area
                    p Описание профиля
                    textarea#ta(
                        placeholder='Самая топовая вайфу твоего района'
                        maxlength='300'
                    )
                    div
                        span#taNumber 0
                        span /300
                .personal-area__settings__area__account__personal-information__input-radio
                    .inputs-radio
                        input(
                            type='checkbox'
                            id="radioGoogle"
                        )
                        label(for="radioGoogle") Сделать коллекцию секретной
                            span Видеть можете только вы
                .create-collection__block__inputs__buttons
                    a(href='#') Отменить
                    a(href='#') Создать
        .create-collection__button
            a(href='#')
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0H0V32H32V0Z" fill="white" fill-opacity="0.01"/><path d="M8 18C9.10457 18 10 17.1046 10 16C10 14.8954 9.10457 14 8 14C6.89543 14 6 14.8954 6 16C6 17.1046 6.89543 18 8 18Z" fill="black"/><path d="M16 18C17.1046 18 18 17.1046 18 16C18 14.8954 17.1046 14 16 14C14.8954 14 14 14.8954 14 16C14 17.1046 14.8954 18 16 18Z" fill="black"/><path d="M24 18C25.1046 18 26 17.1046 26 16C26 14.8954 25.1046 14 24 14C22.8954 14 22 14.8954 22 16C22 17.1046 22.8954 18 24 18Z" fill="black"/></svg>